{{yield}}

<h2>{{@title}}</h2>

<ul>
  {{#each @people as |person| }}
  <li><a href={{person.url}}>{{person.name}}</a></li>
  <li><button {{action 'showPerson' person}}>{{person.name}}</button></li>
  {{/each}}
</ul>
